:root {
  --color-primary: var(--studio-woocommerce-purple-50);
  --color-primary-rgb: var(--studio-woocommerce-purple-50-rgb);
  --color-primary-dark: var(--studio-woocommerce-purple-70);
  --color-primary-dark-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-primary-light: var(--studio-woocommerce-purple-30);
  --color-primary-light-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-primary-0: var(--studio-woocommerce-purple-0);
  --color-primary-0-rgb: var(--studio-woocommerce-purple-0-rgb);
  --color-primary-5: var(--studio-woocommerce-purple-5);
  --color-primary-5-rgb: var(--studio-woocommerce-purple-5-rgb);
  --color-primary-10: var(--studio-woocommerce-purple-10);
  --color-primary-10-rgb: var(--studio-woocommerce-purple-10-rgb);
  --color-primary-20: var(--studio-woocommerce-purple-20);
  --color-primary-20-rgb: var(--studio-woocommerce-purple-20-rgb);
  --color-primary-30: var(--studio-woocommerce-purple-30);
  --color-primary-30-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-primary-40: var(--studio-woocommerce-purple-40);
  --color-primary-40-rgb: var(--studio-woocommerce-purple-40-rgb);
  --color-primary-50: var(--studio-woocommerce-purple-50);
  --color-primary-50-rgb: var(--studio-woocommerce-purple-50-rgb);
  --color-primary-60: var(--studio-woocommerce-purple-60);
  --color-primary-60-rgb: var(--studio-woocommerce-purple-60-rgb);
  --color-primary-70: var(--studio-woocommerce-purple-70);
  --color-primary-70-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-primary-80: var(--studio-woocommerce-purple-80);
  --color-primary-80-rgb: var(--studio-woocommerce-purple-80-rgb);
  --color-primary-90: var(--studio-woocommerce-purple-90);
  --color-primary-90-rgb: var(--studio-woocommerce-purple-90-rgb);
  --color-primary-100: var(--studio-woocommerce-purple-100);
  --color-primary-100-rgb: var(--studio-woocommerce-purple-100-rgb);

  --color-masterbar-background: var(--studio-woocommerce-purple-50);
  --color-masterbar-border: var(--studio-woocommerce-purple-60);
  --color-masterbar-item-hover-background: var(--studio-woocommerce-purple-60);
  --color-masterbar-item-active-background: var(--studio-woocommerce-purple-80);

  --color-sidebar-menu-selected-background: var(--studio-woocommerce-purple-5);
  --color-sidebar-menu-selected-background-rgb: var(--studio-woocommerce-purple-5-rgb);
  --color-sidebar-menu-selected-text: var(--studio-woocommerce-purple-70);
}
